<div class="toolbar">
  <div class="toolbar-content">
    <div class="logo-container">
      <!-- Para trocar o ícone, altere o texto 'eco' abaixo para outro nome de ícone do Material Icons
           Você pode encontrar todos os ícones disponíveis em: https://fonts.google.com/icons
           Exemplos de outros ícones:
           - casino (dados)
           - stars (estrelas)
           - favorite (coração)
           - sentiment_very_satisfied (rosto feliz)
      -->
      <mat-icon class="logo-icon">paid</mat-icon>
      <h1>{{ appName }}</h1>
    </div>
  </div>
</div>
